/*Mobil*/
body {
    font-family: sans-serif;
    background-image: url("tre.jpg");

}

#mitgrid {
    color: #000000;
    border-color: #000000;
    border-width: 2px;
    border-style:solid;
    
}

#mitgrid {

    display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      
        grid-template-areas: 
        "1 1 1 1 1 1"
        "2 2 2 2 2 2"
        "3 3 3 3 3 3"
        "4 4 4 4 4 4"
        "5 5 5 5 5 5"
        "6 6 6 6 6 6"
        "7 7 7 7 7 7"
        "8 8 8 8 8 8"
        "9 9 9 9 9 9"
        "10 10 10 10 10 10"
        "11 11 11 11 11 11"
        "12 12 12 12 12 12"
        "13 13 13 13 13 13"
        "14 14 14 14 14 14"
        "15 15 15 15 15 15"
        "16 16 16 16 16 16";
}

#felt1 {
    grid-area: 1;
    background-color: deeppink;
    text-align: center
}

#felt2 {
    grid-area: 2;
    background-color: blue;
    text-align: center;
}

#felt3 {
    grid-area: 3;
    background-color: green;
    text-align: center;
}

#felt4 {
    grid-area: 4;
    background-color:blueviolet;
    text-align: center;
}

#felt5 {
    grid-area: 5;
    background-color: aqua;
    text-align: left;
}

#felt6 {
    grid-area: 6;
    text-align: left;
    background-color: blueviolet;
}
#felt7 {
    grid-area: 7;
    background-color: chartreuse;
    text-align: center;
}

#felt8 {
    grid-area: 8;
    background-color:pink;
}

#felt9 {
    grid-area: 9;
    background-color: deepskyblue;
    text-align: center;
}

#felt10 {
    grid-area: 10;
    background-color: firebrick;
    text-align: center;
    
}

#felt11 {
    grid-area: 11;
    background-color: darksalmon;
    text-align: center;
    
}

#felt12 {
    grid-area: 12;
    background-color: darkorange;
    text-align: center;
}

#felt13 {
    grid-area: 13;
    background-color: darkorchid;
    text-align: center;
}

#felt14 {
    grid-area: 14;
    background-color:fuchsia;
    text-align: center;
}

#felt15 {
    grid-area: 15;
    background-color: darkgoldenrod;
    text-align: center;
}

#felt16 {
    grid-area: 16;
    background-color: lavender;
    text-align: center;
}

/*Tablet*/
@media screen and (min-width:600px){ 

#felt1 {
    
    background-color: red;
    margin-left: 7em;
    margin-right: 7em;
    
}
 
/*desktop*/
@media screen and (min-width: 1000px){
    #felt1 {
        background-color: black;
    }
}